*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  color: hsl(220, 13%, 13%);
}

.heading {
  font-weight: 700;
}
.heading--primary {
  color: hsl(220, 13%, 13%);
  font-size: 4.8rem;
  line-height: 1.2;
}
.heading--secondary {
  font-size: 3.6rem;
  color: hsl(26, 100%, 55%);
  font-size: 2.4rem;
}

.header {
  display: grid;
  grid-template-columns: 18% 72% 10%;
  align-items: center;
  padding: 3.6rem 8.4rem;
}
.header__logo {
  max-width: 17rem;
  width: 100%;
}
.header__menu {
  list-style: none;
  display: flex;
  font-size: 1.8rem;
  gap: 2.4rem;
}
.header__menu-list > .header__menu-link:link, .header__menu-link:visited {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
}
.header__account-details {
  display: flex;
  align-items: center;
  justify-self: right;
  gap: 3.6rem;
}
.header__account-details .header__cart-container .header__cartIcon {
  height: 2.4rem;
}
.header__account-details .header__account-picture {
  height: 5.2rem;
}

.product-page__product-container {
  padding: 8.4rem 14rem;
  display: flex;
  gap: 12rem;
  align-items: center;
}
.product-page__product-image {
  max-width: 55rem;
  border-radius: 25px;
  margin-bottom: 3.6rem;
}
.product-page__image-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 3.6rem;
       column-gap: 3.6rem;
  justify-items: center;
}
.product-page__gallery-image {
  border-radius: 15px;
  max-width: 100%;
}
.product-page__product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.2rem;
}
.product-page__product-description {
  font-size: 1.6rem;
  font-weight: 700;
  color: hsl(219, 9%, 45%);
  line-height: 1.5;
}
.product-page__product-price-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}
.product-page__product-price {
  font-weight: 700;
  font-size: 3.6rem;
  display: flex;
  gap: 1.2rem;
}
.product-page__product-discount {
  font-size: 2.4rem;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  align-self: center;
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
}
.product-page__original-price {
  font-size: 1.8rem;
  font-weight: 700;
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
}
.product-page__form {
  display: flex;
  gap: 1.2rem;
}
.product-page__qty-input {
  display: flex;
  flex: 0 1 35%;
}
.product-page__product-qty, .product-page__qty-count {
  padding: 1.8rem 1.2rem;
  width: 33%;
  background-color: hsl(223, 64%, 98%);
}
.product-page__qty-count {
  border: none;
}
.product-page__qty-count--min {
  border-radius: 10px 0 0 10px;
}
.product-page__qty-count--add {
  border-radius: 0 10px 10px 0;
}
.product-page__product-qty {
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  border: none;
}
.product-page__btn-add {
  display: flex;
  flex: 0 1 65%;
  border: none;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  box-shadow: 0 1.8rem 4.8rem rgba(255, 125, 26, 0.5);
}

.sectionBreak {
  border-top: 1px solid hsl(223, 64%, 98%);
  margin: 0 8.4rem;
}/*# sourceMappingURL=main.css.map */