*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 400px) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  color: hsl(220, 13%, 13%);
  background-color: hsl(0, 0%, 100%);
}

.heading {
  font-weight: 700;
}
.heading--primary {
  color: hsl(220, 13%, 13%);
  font-size: 4.8rem;
  line-height: 1.2;
}
@media (max-width: 400px) {
  .heading--primary {
    font-size: 3.6rem;
  }
}
.heading--secondary {
  color: hsl(26, 100%, 55%);
  font-size: 1.8rem;
  text-transform: uppercase;
}
@media (max-width: 400px) {
  .heading--secondary {
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    margin-bottom: -1rem;
  }
}

.header {
  display: grid;
  grid-template-columns: 18% 72% 10%;
  align-items: center;
  padding: 3.6rem 8.4rem;
  position: relative;
}
@media (max-width: 400px) {
  .header {
    grid-template-columns: 10% 70% 20%;
    padding: 2.4rem 3.6rem;
  }
  .header__navigation {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    top: 0;
    height: 100vh;
    width: 70vw;
    z-index: 100;
    transition: 0.3s all ease-in;
    transform: translateX(-100%);
  }
  .header__navigation--active {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
  }
}
.header__menu-toggle {
  display: none;
}
@media (max-width: 400px) {
  .header__menu-toggle {
    display: inline;
  }
}
.header__logo {
  max-width: 17rem;
  width: 100%;
}
@media (max-width: 400px) {
  .header__logo {
    max-width: 16rem;
  }
}
.header__menu {
  list-style: none;
  display: flex;
  font-size: 1.8rem;
  gap: 2.4rem;
}
.header__menu-list > .header__menu-link:link, .header__menu-link:visited {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
}
.header__menu-close--hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: absolute;
}
@media (max-width: 400px) {
  .header__menu {
    flex-direction: column;
    padding: 3rem 3rem;
    font-weight: 700;
    font-size: 2.5rem;
    z-index: 100;
  }
  .header__menu-list > .header__menu-link:link, .header__menu-link:visited {
    color: hsl(220, 13%, 13%);
  }
  .header__menu-close {
    padding: 3rem 0 3rem 3rem;
  }
  .header__menu-close--hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    position: initial;
  }
}
.header__account-details {
  display: flex;
  align-items: center;
  justify-self: right;
  gap: 3.6rem;
}
@media (max-width: 400px) {
  .header__account-details {
    gap: 2.4rem;
  }
}
.header__cartIcon {
  height: 2.4rem;
}
.header__cart-detail {
  position: absolute;
  flex-direction: column;
  top: 80%;
  right: 5%;
  border-radius: 5px;
  width: 25%;
  height: -moz-fit-content;
  height: fit-content;
  overflow: scroll;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 1.8rem 2rem rgba(0, 0, 0, 0.3);
}
.header__cart-detail--hidden {
  display: none;
}
.header__text-cart {
  padding: 1.8rem;
  font-size: 1.6rem;
  font-weight: 700;
}
.header__cart-content {
  display: flex;
  justify-content: center;
}
.header__text-cart-empty {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 9.6rem 3.6rem;
  color: hsl(219, 9%, 45%);
}
.header__account-picture {
  height: 5.2rem;
}
@media (max-width: 400px) {
  .header__account-picture {
    height: 3.6rem;
  }
}

.cartBreak {
  border-top: 1px solid hsl(223, 64%, 98%);
}

.product-page__product-container {
  padding: 8.4rem 14rem;
  display: flex;
  gap: 12rem;
  align-items: center;
}
@media (max-width: 400px) {
  .product-page__product-container {
    flex-direction: column;
    align-items: left;
    padding: 0;
    gap: 3rem;
  }
}
.product-page__product-image {
  max-width: 50rem;
  border-radius: 25px;
  margin-bottom: 3.6rem;
}
@media (max-width: 400px) {
  .product-page__product-image {
    border-radius: 0;
    margin-bottom: 0;
    max-width: 100vw;
  }
}
.product-page__image-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 3.6rem;
       column-gap: 3.6rem;
  justify-items: center;
}
@media (max-width: 400px) {
  .product-page__image-gallery {
    display: none;
  }
}
.product-page__gallery-image {
  border-radius: 15px;
  max-width: 100%;
}
.product-page__product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.2rem;
}
@media (max-width: 400px) {
  .product-page__product-details {
    justify-self: center;
    padding: 0 3rem;
    gap: 3rem;
  }
}
.product-page__product-description {
  font-size: 1.6rem;
  font-weight: 400;
  color: hsl(219, 9%, 45%);
  line-height: 1.5;
}
@media (max-width: 400px) {
  .product-page__product-description {
    font-size: 2rem;
  }
}
.product-page__product-price-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}
@media (max-width: 400px) {
  .product-page__product-price-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
  }
}
.product-page__product-price {
  font-weight: 700;
  font-size: 3.6rem;
  display: flex;
  gap: 1.2rem;
}
@media (max-width: 400px) {
  .product-page__product-price {
    gap: 1.8rem;
    font-size: 4rem;
  }
}
.product-page__product-discount {
  font-size: 2.4rem;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  align-self: center;
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
}
@media (max-width: 400px) {
  .product-page__product-discount {
    font-size: 2rem;
  }
}
.product-page__original-price {
  font-size: 1.8rem;
  font-weight: 700;
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
}
@media (max-width: 400px) {
  .product-page__original-price {
    font-size: 2rem;
  }
}
.product-page__form {
  display: flex;
  gap: 1.2rem;
}
@media (max-width: 400px) {
  .product-page__form {
    flex-direction: column;
    gap: 1.8rem;
  }
}
.product-page__product-qty, .product-page__qty-count {
  padding: 1.8rem 1.2rem;
  width: 33%;
  background-color: hsl(223, 64%, 98%);
}
@media (max-width: 400px) {
  .product-page__product-qty, .product-page__qty-count {
    padding: 2rem;
  }
}
.product-page__qty-input {
  display: flex;
  flex: 0 1 35%;
}
.product-page__qty-count {
  border: none;
}
.product-page__qty-count--min {
  border-radius: 10px 0 0 10px;
}
.product-page__qty-count--add {
  border-radius: 0 10px 10px 0;
}
@media (max-width: 400px) {
  .product-page__qty-count {
    flex: 0 1 10%;
  }
}
.product-page__product-qty {
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  border: none;
}
@media (max-width: 400px) {
  .product-page__product-qty {
    flex: 0 1 80%;
    font-size: 2rem;
  }
}
.product-page__btn-add {
  display: flex;
  flex: 0 1 65%;
  border: none;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  box-shadow: 0 1.8rem 4.8rem rgba(255, 125, 26, 0.5);
}
@media (max-width: 400px) {
  .product-page__btn-add {
    padding: 2rem 0;
  }
}

.sectionBreak {
  border-top: 1px solid hsl(223, 64%, 98%);
  margin: 0 8.4rem;
}
@media (max-width: 400px) {
  .sectionBreak {
    display: none;
  }
}

.overlay {
  transition: 0.3s all ease-in;
}
.overlay--active {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.6;
  filter: opacity(100%);
}/*# sourceMappingURL=main.css.map */