@use "../abstract/variables" as variables;

.header {
  display: grid;
  grid-template-columns: 18% 72% 10%;
  align-items: center;
  padding: 3.6rem 8.4rem;

  &__logo {
    max-width: 17rem;
    width: 100%;
  }

  &__menu {
    list-style: none;
    display: flex;
    font-size: 1.8rem;
    gap: 2.4rem;

    &-list > &-link:link,
    &-link:visited {
      text-decoration: none;
      color: variables.$dark-gray-blue;
    }
  }

  &__account-details {
    display: flex;
    align-items: center;
    justify-self: right;
    gap: 3.6rem;

    .header__cart-container {
      .header__cartIcon {
        height: 2.4rem;
      }
    }

    .header__account-picture {
      height: 5.2rem;
    }
  }
}
