@use "../abstract/variables" as variables;
@use "../abstract/mixins" as mixins;

.header {
  display: grid;
  grid-template-columns: 18% 72% 10%;
  align-items: center;
  padding: 3.6rem 8.4rem;

  @include mixins.responsive(mixins.$mobile) {
    position: relative;
    grid-template-columns: 10% 70% 20%;
    padding: 2.4rem 3.6rem;

    &__navigation {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      position: absolute;
      background-color: variables.$white;
    }
  }

  &__menu-toggle {
    display: none;

    @include mixins.responsive(mixins.$mobile) {
      display: inline;
    }
  }

  &__logo {
    max-width: 17rem;
    width: 100%;

    @include mixins.responsive(mixins.$mobile) {
      max-width: 20rem;
    }
  }

  &__menu {
    list-style: none;
    display: flex;
    font-size: 1.8rem;
    gap: 2.4rem;

    &-list > &-link:link,
    &-link:visited {
      text-decoration: none;
      color: variables.$dark-gray-blue;
    }

    @include mixins.responsive(mixins.$mobile) {
      flex-direction: column;
      color: variables.$dark-gray-blue;
    }
  }

  &__account-details {
    display: flex;
    align-items: center;
    justify-self: right;
    gap: 3.6rem;

    @include mixins.responsive(mixins.$mobile) {
      gap: 2.4rem;
    }

    .header__cart-container {
      .header__cartIcon {
        height: 2.4rem;
      }
    }

    .header__account-picture {
      height: 5.2rem;

      @include mixins.responsive(mixins.$mobile) {
        height: 3.6rem;
      }
    }
  }
}
