@use "../abstract/variables" as variables;
@use "../abstract/mixins" as mixins;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include mixins.responsive(mixins.$mobile) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  color: variables.$darker-blue;
  background-color: variables.$white;
}
