@use "../abstract/variables" as variables;
@use "../abstract/mixins" as mixins;

.product-page {
  position: relative;

  &__product-container {
    padding: 8.4rem 14rem;
    display: flex;
    gap: 12rem;
    align-items: center;
    justify-content: center;

    @include mixins.responsive(mixins.$mobile) {
      flex-direction: column;
      align-items: left;
      padding: 0;

      gap: 3rem;
    }
  }

  &__image-container {
    display: flex;
    flex-direction: column;
  }

  &__big-image {
    position: relative;
  }

  &__product-image {
    max-width: 100%;
    border-radius: 25px;
    margin-bottom: 3.6rem;
    transition: 0.2s all ease-in;

    @include mixins.responsive(mixins.$mobile) {
      border-radius: 0;
      margin-bottom: 0;
      width: 100vw;
    }
  }

  &__prev,
  &__next {
    position: absolute;
    top: 50%;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    @include mixins.responsive(mixins.$mobile) {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  &__prev {
    left: 5%;

    &-icon {
      background-color: variables.$light-gray-blue;
      padding: 1.5rem 2rem;
      border-radius: 50%;
    }
  }

  &__next {
    right: 5%;

    &-icon {
      background-color: variables.$light-gray-blue;
      padding: 1.5rem 2rem;
      border-radius: 50%;
    }
  }

  &__image-gallery {
    display: grid;
    display: flex;
    gap: 3.6rem;
    justify-content: space-between;

    @include mixins.responsive(mixins.$mobile) {
      display: none;
    }
  }

  &__image {
    display: flex;
    border-radius: 15px;
    position: relative;

    &--active {
      outline: 5px solid variables.$orange;
    }
  }

  &__gallery-image {
    border-radius: 15px;
    max-width: 100%;
    transition: 0.2s all;
    align-self: center;

    &--active {
      filter: opacity(0.5);
    }

    &:hover {
      filter: opacity(0.5);
    }
  }

  &__product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.4rem;

    @include mixins.responsive(mixins.$mobile) {
      justify-self: center;
      padding: 0 3rem;
      gap: 3rem;
    }
  }

  &__product-description {
    font-size: 1.6rem;
    font-weight: 400;
    color: variables.$dark-gray-blue;
    line-height: 1.5;

    @include mixins.responsive(mixins.$mobile) {
      font-size: 2rem;
    }
  }

  &__product-price-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 1.2rem;

    @include mixins.responsive(mixins.$mobile) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0;
    }
  }

  &__product-price {
    font-weight: 700;
    font-size: 3.6rem;
    display: flex;
    gap: 1.2rem;

    @include mixins.responsive(mixins.$mobile) {
      gap: 1.8rem;
      font-size: 4rem;
    }
  }

  &__product-discount {
    font-size: 2.4rem;
    padding: 0.4rem 0.8rem;
    border-radius: 10px;
    align-self: center;

    background-color: variables.$pale-orange;
    color: variables.$orange;

    @include mixins.responsive(mixins.$mobile) {
      font-size: 2rem;
    }
  }

  &__original-price {
    font-size: 1.8rem;
    font-weight: 700;
    color: variables.$grayish-blue;
    text-decoration: line-through;

    @include mixins.responsive(mixins.$mobile) {
      font-size: 2rem;
    }
  }

  &__form {
    display: flex;
    gap: 1.2rem;

    @include mixins.responsive(mixins.$mobile) {
      flex-direction: column;
      gap: 1.8rem;
    }
  }

  &__product-qty,
  &__qty-count {
    padding: 1.8rem 1.2rem;
    width: 33%;
    background-color: variables.$light-gray-blue;

    @include mixins.responsive(mixins.$mobile) {
      padding: 2rem;
    }
  }

  &__qty-input {
    display: flex;
    // grow | shrink | basis
    flex: 0 1 35%;
  }

  &__qty-count {
    border: none;

    &--min {
      border-radius: 10px 0 0 10px;
    }

    &--add {
      border-radius: 0 10px 10px 0;
    }

    @include mixins.responsive(mixins.$mobile) {
      flex: 0 1 10%;
    }
  }

  &__product-qty {
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    border: none;

    @include mixins.responsive(mixins.$mobile) {
      flex: 0 1 80%;
      font-size: 2rem;
    }
  }

  &__btn-add {
    // grow | shrink | basis
    display: flex;
    flex: 0 1 65%;
    border: none;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 700;

    align-items: center;
    justify-content: center;
    gap: 1.2rem;

    background-color: variables.$orange;
    color: variables.$white;

    box-shadow: 0 1.8rem 4.8rem rgba(255, 125, 26, 0.5);
    @include mixins.responsive(mixins.$mobile) {
      padding: 2rem 0;
    }
  }

  // Lightbox
  &__lightbox {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    top: 65%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    z-index: 5;
    transition: 0.3s all ease-in;

    transform: translate(-50%, -60%);

    &-close {
      display: flex;
      justify-content: right;
    }

    &-close-icon {
      max-width: 2rem;
      max-height: 2rem;
      transform: scale(1.5);
      color: variables.$white;
    }

    &-big-image {
      position: relative;
    }

    &-product-image {
      border-radius: 15px;
      max-width: 60rem;
    }

    &-prev,
    &-next {
      position: absolute;
    }

    &-prev {
      top: 50%;
      left: -5%;

      &-icon {
        background-color: variables.$light-gray-blue;
        padding: 1.5rem 2rem;
        border-radius: 50%;
      }
    }

    &-next {
      top: 50%;
      right: -5%;

      &-icon {
        background-color: variables.$light-gray-blue;
        padding: 1.5rem 2rem;
        border-radius: 50%;
      }
    }

    &-image-gallery {
      display: flex;
      gap: 1.8rem;

      justify-content: center;
    }

    &-image {
      border-radius: 15px;
      display: flex;
      background-color: variables.$white;

      &--active {
        outline: 6px solid variables.$orange;
      }
    }

    &-gallery-image {
      max-width: 10.4rem;
      border-radius: 15px;
      transform: scale(1.01);

      &--active {
        filter: opacity(0.3);
      }

      &:hover {
        filter: opacity(0.5);
      }
    }

    &--active {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    @include mixins.responsive(mixins.$mobile) {
      display: none;
    }
  }
}

.sectionBreak {
  border-top: 1px solid variables.$light-gray-blue;
  margin: 0 8.4rem;

  @include mixins.responsive(mixins.$mobile) {
    display: none;
  }
}

.overlay {
  transition: 0.3s all ease-in;
  &--active {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.6;
    filter: opacity(100%);
  }
}
